<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Actualizar Empleado</h2>

    <form th:action="@{/actualizar_empleado/{dni}(dni=${empleado.dni})}" th:object="${empleado}" method="post">
        <input type="hidden" th:field="*{dni}">
        <div class="form-group">
            <label for="nomemp">Nombre Empleado:</label>
            <input type="text" class="form-control" id="nomemp" th:field="*{nomemp}" placeholder="Ingrese su nombre" required>
        </div>
        <div class="form-group">
            <label for="apeemp">Apellido Empleado:</label>
            <input type="text" class="form-control" id="apeemp" th:field="*{apeemp}" placeholder="Ingrese su Apellido" required>
        </div>
        <div class="form-group">
            <label for="fechemp">Fecha de Nacimiento:</label>
            <input type="date" class="form-control" id="fechemp" th:field="*{fechemp}" required>
        </div>
        <div class="form-group">
            <label for="direc">Dirección:</label>
            <input type="text" class="form-control" id="direc" th:field="*{direc}" placeholder="Ingrese su Dirección" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo electrónico:</label>
            <input type="email" class="form-control" id="correo" th:field="*{correo}" placeholder="Ingrese su correo electrónico" required>
        </div>
        <a th:href="@{/}" class="btn btn-secondary">Regresar</a>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
</body>
</html>